:root{
	--outer-shadow : 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
	--outer-shadow-0 : 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
	--inner-shadow : inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
	--text-black-600 : #666666;
	--skin-color : #fb839e;
}

@keyframes fadeInTop{
	0%{
		opacity : 0;
		transform : translateY(-25px);
		
	}
	100%{
		opacity : 1;
		transform : translateY(0px);
		
	}
}


.card {
	background-color : #8aefff; 
  margin : auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  max-width: 300px;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

body{
	background-color :#87ffd9;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.5;
}

.cc1{
	margin-top : 25vh;
}


.outer-shadow {
	box-shadow : var(--outer-shadow);
}

.hover-in-shadow {
	position : relative;
	z-index : 1;
}

.hover-in-shadow:hover {
	box-shadow : var(--outer-shadow-0);
}

.hover-in-shadow:after {
	content:"";
	position: absolute;
	top:0;
	left:0;
	width : 100%;
	height:100%;
	transition: all 0.3s ease;
}

.hover-in-shadow:hover:after {
	box-shadow : var(--inner-shadow-0);
}

.cc2 .about-tabs{
	padding : 60px 15px 50px;
	flex : 0 0 100%;
	max-width : 100%;	
	text-align : center;
}

.cc2{
	padding : 40px 0 0;
	min-height : 50vh;
}

.cc2 .about-tabs .tab-item {
	display : inline-block;
	margin : 0 5px 10px;
	border : 3px solid #ec9412;
	cursor : pointer;
	padding : 5px 10px;
	border-radius : 30px;
	transition: all 0.3s ease;
	font-size : 16px;
	color : var(--text-black-600);
	font-weight : 500;
	text-transform : capitalize;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.cc2 .about-tabs .tab-item:hover:not(.active) {
	opacity : 0.6;
}

.cc2 .about-tabs .tab-item.active {
	color : var(--skin-color);
	background-color : #fafbff;
}

.cc2 .tab-content{
	flex : 0 0 100%;
	max-width : 100%;	
	display : none;
}

.cc2 .tab-content.active {
	display : block;
	animation : fadeInTop 0.5s ease;
}

.ids{
	text-align : center;
	padding:44px;
	margin : 8px;
	background-color : #dfeced;
}

.ids1{
	text-align : center;
	padding:44px;
	margin : 8px;
	color : #e2fca4;
	background-color : #888c8f;
}

/* .ids span {
	background-color : var(--outer-shadow);
	margin-right: 40px;
	width : 300px;
} */

.rr1{
	display : inline-block;
	margin-right : 8vh;
}

.cc2 .phist {
	padding-bottom : 80px; 
}


.st-col {
	padding:40px;
	text-align : center;
	width : 24%;
	color : #e2fca4;
	background-color : #888c8f;
	display : inline-block;
}

.st-row2 {
	width : 80%;
	margin : auto;
}

.st-col2 {
	border : 2px solid black;
	padding:40px;
	text-align : center;
	width : 24%;
	background-color : #dfeced;
	display : inline-block;
}

.pp{
	padding : 2px;
	border : 1px solid red;
	font-size : 15px;
	color : #fb839e;
}

.ahist .st-col {
	padding:40px;
	text-align : center;
	width : 19%;
	color : #e2fca4;
	background-color : #888c8f;
	display : inline-block;
}

.ahist .st-col2 {
	padding:40px;
	text-align : center;
	width : 19%;
	background-color : #dfeced;
	display : inline-block;
}


.aboutme .st-col {
	font-size : 25px;
	padding-top : 26px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 38px;
	text-align : center;
	width : 19%;
	color : #e2fca4;
	background-color : #888c8f;
	display : inline-block;
}

.aboutme .st-col2 {
	font-size : 15px;
	padding-top : 36px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	text-align : center;
	width : 80%;
	background-color : #dfeced;
	display : inline-block;
}

