/*____________________Global_______________________*/
body{
	font-size : 16px;
	Line-height : 1.5;
	overflow-x : hidden;
}



*{
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	outline : none;
}

:before,:after{
	box-sizing : border-box;
}

a{
	text-decoration : none;
}

ul{
	List-style : none;
	margin : 0;
	padding : 0;
}

img{
	vertical-align : middle;
	max-width : 100%;
}

.container{
	max-width : 1140px;
	/* background-color : red; */
	margin : auto;
}

.row{
	display : flex;
	flex-wrap : wrap;
}

.jcb{
	justify-content : space-between;
}


/*________________Header__________________*/
.header{
	background-color : grey;
	padding : 20px 15px;
	position : absolute;
	width : 100%;
	top : 0;
	left : 0;
	z-index : 99;
}

.header .logo a{
	display : inline-block;
	text-align : center;
	Line-height : 41px;
	height : 45px;
	width : 45px;
	font-size : 24px;
	color: yellow;
	border-radius : 60%;
	border:3px solid yellow;
}

.header .hbtn{
	height : 40px;
	width : 40px;
	background-color : blue;
}









