/*____________________Global_______________________*/



body{
	font-size : 16px;
	Line-height : 1.5;
	overflow-x : hidden;
	background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

img{
	
	position:relative;
	width : 65px;
	height : 65px;
}

#NM{
	margin-top :0.5%;
	position:relative;
	width : 175px;
	height : 50px;
}





.searchTerm {
  margin : 0;
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
}

/*Resize the wrap to see the search bar change!*/





*{
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	outline : none;
}

:before,:after{
	box-sizing : border-box;
}

a{
	text-decoration : none;
}

ul{
	List-style : none;
	margin : 0;
	padding : 0;
}


.container{
	max-width : 1140px; 
	margin : auto;
	
}

.container2 {
	padding:0;
	max-width : 90%;
	margin-top:1.5%;
	margin-left:40%;
}



.container3{
	padding-right:0;
	max-width : 90%; 
	margin-top:1.5%;
	margin-left:20%;
}

.row{
	display : flex;
	flex-wrap : wrap;
}

.jcb{
	
	justify-content : space-between;
}


/*________________Header__________________*/
.header{
	background-color : grey;
	padding : 20px 15px;
	position : absolute;
	width : 100%;
	top : 0;
	left : 0;
	z-index : 99;
}

.header .logo a{
	display : inline-block;
	text-align : center;
	Line-height : 51px;
	height : 65px;
	width : 65px;
	font-size : 24px;
	border-radius : 60%;
}

.header .hbtn{
	height : 40px;
	width : 40px;
	background-color : blue;
}


/*_____________Log Out  Button___________*/







